 <option value="Consultation">Consultation</option>
                    <option value="Health Checkup">Health Checkup</option>
                    <option value="Flu Shots">Flu Shots</option>
                    <option value="Blood Test">Blood Test</option>
                    <option value="Physical Exam">Physical Exam</option>
                    <option value="Prevention">Prevention</option>
                    <option value="Family Planning">Family Planning</option>
                    <option value="Home Visit">Home Visit</option>